.fieldsForm {
   background-color: rgb(62, 62, 62);
   max-width: 600px;
   min-width: 600px;
   width: 100%;
   min-height: 300px;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(186, 186, 186, 0.5);

   input {
      width: 50%;
      height: 30px;
      margin-bottom: 10px;
      border: none;
      border-radius: 5px;
      padding-left: 10px;
      background-color: rgb(43, 43, 43);
   }
}
